.button
{
    background: linear-gradient(90deg,rgba(237, 221, 83, 1) 0%, rgba(87, 199, 133, 1) 100%);
}
.contenair1
{
    background: linear-gradient(to bottom, rgba(170,20,240,0.08), rgba(185,54,245,0.06), rgba(170,20,240,0.04), rgba(185,54,245,0.02), rgba(185,54,245,0.00));
    border: 0.1px solid rgba(203,141,232,0.1);

}
.temoinagecard
{
    background: linear-gradient(to bottom, rgba(203,141,232,0.09), rgba(203,141,232,0.09), rgba(203,141,232,0.09), rgba(203,141,232,0.09), rgba(203,141,232,0.02), rgba(203,141,232,0.00));
    border: 3px solid rgba(203,141,232,0.1);
}
